
				<div class="col-sm-2" style="background-color: white; " ng-show = "!global.lawyerPage">
					<div class="left-sidebar">
						<div class="brands_products">
							<h2>Sort By</h2>
							<div class="brands-name">
								<label class="radio-inline"><input type="radio" value = "-rating"  ng-model = "global.sort" name="sort">Rating</label>
								<label class="radio-inline"><input type="radio" value="-price" ng-model = "global.sort"  name="sort">Price</label>
							</div>
						</div>
					</div>
				</div>
				
				
			