<div>
   <div class="modal-header">
      <button type="button" ng-click="close()" name="close" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">{{header}}</h4>
   </div>
   <div class="modal-body" >
      <div class="row">
      Your form here
      <form role="form">
         <div class="form-group" ng-form name="afterFormBuild" >
            <div class="col-xs-6" ng-repeat = "form in formFactory.formFieldEditDelete" ng-switch on="form.type" onmouseenter="$(this).tooltip('show')" title="{{::form.helpText}}">
               <label>{{::form.label}}</label>
               <select  ng-switch-when="select"  class="form-control" ng-model="formObj[form.key]">
                  <option ng-repeat = "select in form.options" value="{{::select.value}}">{{::select.label}}</option>
               </select>
               <label ng-switch-when="radio"  class="radio-inline" ng-repeat="option in form.options">
               <input type="{{form.type}}" ng-model="formObj[form.key]" name="{{$parent.$index}}" value="{{option.value}}">{{::option.label}}
               </label>
               <label ng-switch-when="checkbox" ng-model="formObj[form.key]" class="checkbox-inline" ng-repeat="option in form.options">
               <input type="{{form.type}}" value="{{option.value}}">{{::option.label}}
               </label>
               <div ng-switch-default ng-class="{'has-error has-feedback': afterFormBuild[$index].$invalid, 'has-success has-feedback': afterFormBuild[$index].$valid && afterFormBuild[$index].$dirty}">
                  <input ng-if="form.required" type="{{form.type}}" name = "{{$index}}" class="form-control" placeholder = "{{form.placeholder}}"  ng-model = "formObj[form.key]" required>
                  <input ng-if="!form.required"  type="{{form.type}}" name = "{{$index}}" class="form-control" placeholder = "{{form.placeholder}}"  ng-model = "formObj[form.key]" >
                  <!-- <span ng-class="{'glyphicon glyphicon-remove form-control-feedback': afterFormBuild[$index].$invalid, 'glyphicon glyphicon-ok form-control-feedback': afterFormBuild[$index].$valid && afterFormBuild[$index].$dirty}" ></span> -->
                  <span ng-show="afterFormBuild[$index].$error.required" class = "help-block help-block-error custom-date-error">{{::form.error_msg_required}}</span>
               </div>
               
               <hr>
            </div>
         </div>
         <button class="btn btn-primary"  ng-disabled = "afterFormBuild.$invalid"   ng-click = "save()" >Submit</button>
      </form>
   </div>
   </div>
   <div class="footerClose">
      <hr>
      <button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Close</button>
   </div>
</div>