<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">General Interview's Question & Answer</a>
   </div>
   <div class="collapse navbar-collapse navbar-ex1-collapse" ng-init = "selectedObj = {}">
      <ul id="active" class="nav navbar-nav side-nav" style="overflow-y:hidden;">
         <!-- <li class="selected"><a href="index.html"><i class="fa fa-bullseye"></i> Dashboard</a></li>
            <li class="dropdown user-dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Steve Miller <img class="dropIcon pull-right" src="webdata/imgOwn/arrows.png"></a>
               <ul class="dropdown-menu">
                  <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                  <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
               </ul>
            </li> -->
         <!-- <li><a href="portfolio.html"><i class="fa fa-tasks"></i> Portfolio</a></li>
            <li><a href="blog.html"><i class="fa fa-globe"></i> Blog</a></li>
            <li><a href="signup.html"><i class="fa fa-list-ol"></i> SignUp</a></li>
            <li><a href="register.html"><i class="fa fa-font"></i> Register</a></li>
            <li><a href="timeline.html"><i class="fa fa-font"></i> Timeline</a></li>
            <li><a href="forms.html"><i class="fa fa-list-ol"></i> Forms</a></li>
            <li><a href="typography.html"><i class="fa fa-font"></i> Typography</a></li>
            <li><a href="bootstrap-elements.html"><i class="fa fa-list-ul"></i> Bootstrap Elements</a></li>
            <li><a href="bootstrap-grid.html"><i class="fa fa-table"></i> Bootstrap Grid</a></li> -->
         <li class="dropdown user-dropdown" ng-repeat = "item in global.webJSON.leftSideBar" ng-class = "{'selected': (decVar == $index && item.nestedLink=='no')}" ng-click = "decVar = $index;clickLink(item)">
            <a class="dropdown-toggle" data-toggle="dropdown"> 
               <i class="fa fa-list-ol"></i>
               {{item.linkName}} 
               <img class="dropIcon pull-right" src="webdata/imgOwn/arrows.png" ng-if = "item.nestedLink == 'yes'">
               <div ng-if = "global.showEditDelete">
                  <img src="webdata/imgOwn/edit.png" class="varySmallImg handSign" type="button" onmouseenter="$(this).tooltip('show')"  ng-click = "global.linkObj = item;global.openModal('template/modals/addLink.html', 'addLink', {header: constant.msg.editPanelTab, place: 'leftSideBar',index: $index}, 'extraLarge-Modal');" title="{{::constant.msg.editTemp}}">
                  <img src="webdata/imgOwn/delete.png" class="varySmallImg handSign" onmouseenter="$(this).tooltip('show')" title="{{::constant.msg.deleteTemp}}" ng-click = "confirmClick() && global.webJSON.leftSideBar.splice($index, 1)" confirm-click = title="{{::constant.msg.deleteTemp}}">
               </div>
               
            </a>
            
            <ul class="dropdown-menu" autoClose="nonInput" ng-if = "item.nestedLink == 'yes'">
               <li ng-repeat = "innerItem in item.templateData"  ng-click="decVar = ($parent.$index + '' + $index + 'inn'); $event.stopPropagation();global.clickedLink = innerItem" ng-class = "{'selected': decVar == ($parent.$index + '' + $index + 'inn')}"><a href="javascript:void(0)"><i class="fa fa-user"></i> {{innerItem.linkName}}</a></li>
            </ul>
         </li>
         <!-- <li ng-click = "global.openModal('template/modals/addQuetionAns.html', 'addQuetionAns', {header: constant.msg.addQue}, 'extraLarge-Modal', undefined, true);">
            Add Question
         </li>> -->
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-user">
         <li class="dropdown messages-dropdown" ng-repeat = "topLink in global.webJSON.topBar" ng-click = "clickLink(topLink)">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
               <i class="fa fa-envelope"></i> {{topLink.linkName}} <!-- <span class="badge">2</span> -->
                <b class="caret"></b>
                <div ng-if = "global.showEditDelete">
                   <img src="webdata/imgOwn/edit.png" class="varySmallImg handSign" type="button"   ng-click = "global.linkObj = topLink;global.openModal('template/modals/addLink.html', 'addLink', {header: constant.msg.editPanelTab, place: 'topBar',index: $index}, 'extraLarge-Modal');" >
                  <img  src="webdata/imgOwn/delete.png" class="varySmallImg handSign"  ng-click = "confirmClick() && global.webJSON.topBar.splice($index, 1)" confirm-click = "{{::constant.msg.deleteTemp}}">
                </div>
                
            </a>
            <ul class="dropdown-menu" ng-if = "topLink.nestedLink == 'yes'">
               <li class="message-preview handSign" ng-repeat = "inTopLink in topLink.templateData" ng-click = "global.clickedLink = inTopLink; $event.stopPropagation();">
                  <a>
                     <span class="avatar"><i class="fa fa-user"></i></span>
                     <span class="message">{{inTopLink.linkName}}</span>
                  </a>
                  <hr/>
               </li>
            </ul>
         </li>
         <li class="dropdown messages-dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Developer's Profile <!-- <span class="badge">2</span> --> <b class="caret"></b></a>
            <ul class="dropdown-menu">
               <li class="message-preview" ng-repeat = "link in global.webJSON.profileData">
                  <a ng-href="{{::link.link}}" target="_blank">
                     <span class="avatar"><i class="fa fa-user"></i></span>
                     <span class="message">{{::link.dispName}}</span>
                  </a>
                  <hr/>
               </li>
            </ul>
         </li>
         
         <!-- <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Steve Miller<b class="caret"></b></a>
            <ul class="dropdown-menu">
               <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
               <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
               <li class="divider"></li>
               <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
            </ul>
         </li> -->
         <!-- <li>
            Login
            
         </li>
         <li class="divider-vertical"></li>
         <li>
            <form class="navbar-search">
               <input type="text" placeholder="Search" class="form-control">
            </form>
         </li> -->
      </ul>
   </div>
</nav>