<div id="page-wrapper">
        <div>
            <button type="button" ng-click = "global.openModal('formBuilder/form.html', 'formBuilderCtrl', {header: constant.msg.buildForm}, 'extraLarge-Modal', undefined, true);" class="btn btn-primary handSign" >Build your Form</button>
            
            <button class="btn btn-primary handSign" ng-click = "global.linkObj = {};global.openModal('template/modals/addLink.html', 'addLink', {header: constant.msg.addLink}, 'extraLarge-Modal', undefined, true);">
              Add Link
            </button>
            <button class="btn btn-primary handSign" ng-click = "editSaveLink()">
              {{global.showEditDelete ? 'Save your change' : 'Edit Link'}}
            </button>
            <button type="button" ng-click = "global.openModal('formBuilder/registration.html', 'formBuilderCtrl', {header: constant.msg.buildForm}, 'extraLarge-Modal', undefined, true);" class="btn btn-primary handSign" >Register Yourself</button>
            <button type="button" class="btn btn-primary" ng-click = "global.openModal('query/madeQueryAndDisp.html', 'madeQueryAndDisp', {header: constant.msg.BuidYour}, 'extraLarge-Modal', undefined, true);">Submit Query</butto
        </div>
       
   <!-- <div class="row">
      <div class="col-sm-8">
         <div class="row" ng-repeat="item in global.dispData[global.currentPage]">
            <div class="col-xs-12">
               <h4 ng-click = "obj.index = $index" class="handSign">{{("Question - " + ($index + 1) + "  =>  ") + item.quest}}</h4>
               <p ng-show = "obj.index == $index">
                  {{item.ans}}
               </p>
            </div>
            <hr/>
         </div>
         <ul ng-show="global.dispData && global.dispData.length" class="pagination page">
            <li  ng-class="{'disabled': global.currentPage == 0}">
               <a href="javascript:void(0);" ng-hide="global.currentPage == 0" ng-click="global.currentPage=global.currentPage-1;">« Prev</a>
            </li>
            <li id="paging" ng-repeat="n in [] | range:(global.dispData.length)" ng-class="{active: n == global.currentPage}" ng-click="global.currentPage = n;">
               <a href="javascript:void(0);" ng-bind="n + 1">1</a>
            </li>
            <li  ng-class="{'disabled': global.currentPage == global.dispData.length - 1}">
               <a href="javascript:void(0);" ng-hide="global.currentPage == global.dispData.length - 1" ng-click="global.currentPage=global.currentPage+1;">Next »</a>
            </li>
         </ul>
      </div>
      
   </div> -->
    <div ng-repeat = "item in global.clickedLink.templateData" ng-show = "global.clickedLink.templateType == 'panelTemp'">
           <div class="row" ng-init = "classVar = 'col-sm-' + (12 / item.length)">
              <div ng-repeat="inItem in item">
                 <div ng-class="classVar">
                    <div class="panel panel-success">
                       <div class="panel-heading" ng-bind-html="inItem.header | to_trusted"></div>
                       <div class="panel-body" ng-bind-html="inItem.body | to_trusted">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <hr/>
      </div>
    <div class="row" ng-show = "global.clickedLink.templateType == 'tabTemp'">
         <ul class="nav nav-tabs">
            <li ng-repeat="tabd in global.clickedLink.templateData">
              <a href="#tab{{$index + 1}}" data-toggle="tab" ng-bind-html="tabd.header | to_trusted"></a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in" id="tab{{$index + 1}}" ng-repeat="tabd in global.clickedLink.templateData">
              <div ng-bind-html="tabd.body | to_trusted"></div>
            </div>
          </div>
      </div>
</div>