<header id="header" >
		<div class="header_top">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +919910430419</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> bijay.iit12@gmail.com</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-bottom" ng-init="selectedTab = 'home';"><!--header-bottom-->
			<div class="container">
				
				<div class="row" >
					<div class="col-sm-6">
						<img ng-src="./webdata/imgOwn/banner.png" class="banner" />
					</div>
					<div class="col-sm-4">
						<div class="form-group has-success has-feedback pull right">
						    <label for="inputSuccess2">Search</label>
						    <input type="text" placeholder="Search in whole table below"  ng-model = "global.search" class="form-control" id="inputSuccess2" ng-change = "global.searchInWhole()">
					    </div>
					    
					    
					    
					</div>
					<div class="col-sm-2">
						<label for="inputSuccess2">Select Value For Pagination</label>
						<select name="repeatSelect" id="repeatSelect" ng-model="global.selectVal" ng-change = "global.managePagination()">
					      	<option ng-repeat="option in global.selectArr" value="{{option}}">{{option}}</option>
					    </select>
					</div>
					
				</div>
			</div>
		</div>
	</header>
