<div>
    <div class="modal-header">
        <button type="button" ng-click="close()" name="close" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{header}}</h4>
    </div>
    <div class="modal-body" >
         <div class="row">
            <div ng-repeat = "(key, value) in rowData">
                <!-- <h4>{{::key}}</h4>&nbsp;&nbsp; -->
                <div class="form-group col-sm-6" ng-if = "key != '_id'">
                    <label for="usr">{{::key}}</label>
                    <input type="text" class="form-control" ng-model = "rowData[key]">
                </div>
            </div>
        </div><br><br>
       
    </div>
    <div class="footerClose">
          <!-- <button type="button" ng-show="takeInput" ng-disabled = "myForm.$invalid" class="btn btn-default" ng-click="create()" data-dismiss="modal">Create</button> -->
          <button type="button" class="btn btn-danger" ng-click="close()" data-dismiss="modal">Close</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal">Save</button>
    </div>
   
</div>
